# Virtual Environments
venv/
.venv/
env/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
staticfiles/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Secrets
.env
.env.*
.env*.local
!.env.example

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
